@import '@/variables.scss';

.input {
    border: var(--border);
    border-radius: 5px;
    color: var(--input-color);
    outline: 2px solid transparent;
    transition: outline 0.3s ease;
    background-color: var(--background-color);

    &::placeholder {
        color: var(--placeholder-color);
        font-family: $secondary-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
    }

    &:hover,
    &:focus-visible {
        outline: var(--input-outline);
    }
}