@import '@/variables.scss';

.select_wrapper {
    position: relative;
    min-width: 135px;
    max-width: 135px;

    &::before {
        position: absolute;
        content: '';
        background-image: url('../../../../../assets/arrow-down.svg');
        width: 8px;
        height: 5px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.select {
    width: 100%;
    height: 100%;
    padding: 5px 25px 5px 8px;
    cursor: pointer;


    color: $beige-color;
    font-family: $main-font;
    font-size: 18px;
    text-transform: uppercase;
    background-color: $purple-color;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease,
        box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px transparent;

    &:hover,
    &:focus-visible,
    &:active {
        background-color: $purple-dark-color;
        box-shadow: 0px 0px 4px 0px $purple-color;
        outline: none;
    }
}