.main_empty {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    &_empty_icon {
        margin-bottom: 20px;
    }

    &_empty_text {
        font-weight: 400;
    }
}